<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twicher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/bundle.css') }}" />
</head>
<body>
    {% include 'inc/navbar.html' %}
    <div class="container">
        <div id="excerpt_list"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
</body>
</html>
