@import bootstrap

@import 'dist/quill.snow.css'

.panel-body
  padding: 0px
  .ql-container
    padding: px;
  .ql-toolbar
    border-bottom: 1px solid #dddddd;


.ql-container
  padding: 0px;

.main
  height 100vh
  max-height 100vh

.search
  margin 0.5em 0

.list-group
  p
    margin-bottom: 0px
    padding: 5px 0px

  .add-quote-item
    text-align: center
    padding: 0px

.list-group-item
  max-height 10em
  text-overflow ellipsis
  overflow hidden

  img
    max-height 3em
    overflow hidden

.list-group-item-text
  white-space normal

.left-column
  display inline-block
  height 80vh
  overflow auto

.rightcol
  display flex
  flex-direction column

.righthalf
  flex 1
  margin 0.25em 0

.badge-id
  margin-right 0.5em

// Fix for image tooltip
.ql-container
  overflow visible!important

.add-quote-icon
  margin: 0px
