@import bootstrap

.main
  height 100vh
  max-height 100vh

.search
  margin 0.5em 0

.cite-list a
  max-height 5em
  overflow hidden

.left-column
  display inline-block
  height 80vh
  overflow auto

.rightcol
  display flex
  flex-direction column
  height 100%

.righthalf
  flex 1
  margin 0.25em 0

.badge-id
  margin-right 0.5em